.nav-header1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 64px;
}
.instagram-logo-header {
  height: 30px;
  width: 59px;
  margin-right: 15px;
}
.heading-header {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #262626;
}
.icon-title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  margin-left: 20px;
}
.li1 {
  list-style-type: none;
  width: 41px;
  height: 18px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  align-items: center;
  color: #262626;
}
@media screen and (max-width: 640px) {
  .home-prof {
    display: none;
  }
  .search-input-icon {
    display: none;
  }
  .logout-desktop-btn {
    display: none;
  }
  .li1 {
    display: none;
  }
  .search-icon-desk {
    display: none;
  }
  .shadow {
    display: flex;
    max-width: 320px;
    margin-bottom: 20px;
  }
  .icon-title {
    width: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .instagram-logo-header {
    height: 28.00020980834961px;
    width: 55px;
  }
  .heading-header {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #262626;
    margin: auto;
  }
  .nav-section {
    display: flex;
  }
  .nav-header1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 64px;
    max-width: 320px;
  }
  .options-container {
    position: absolute;
    top: 0px;
    right: 0px;
  }
  .header-links {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    margin-top: 60px;
  }
  .input-container {
    position: absolute;
    left: 0px;
    border: 2px solid black;
    margin-bottom: 45px;
    margin-right: 50px;
  }
}

.home-prof {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.logout-desktop-btn {
  width: 86px;
  height: 32px;
  background: #4094ef;
  color: #ffffff;
  border-radius: 4px;
  border: none;
  outline: none;
  order: 0;
  flex-grow: 0;
  margin-left: 20px;
}
.nav-link {
  text-decoration: none;
  margin-left: 20px;
}
.nav-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1440px;
}
.search-input-desk {
  box-sizing: border-box;
  width: 214px;
  height: 28px;
  background: #fafafa;
  outline: none;
  border: none;
  border-radius: 3px;
}
.search-icon-desk {
  height: 10px;
  width: 10px;
  background: #dbdbdb;
  border-radius: 0px 2px 2px 0px;
  outline: none;
}

.icon-bg {
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  border: none;
  width: 34px;
  height: 26px;
  background: #dbdbdb;
  border-radius: 0px 2px 2px 0px;
}
@media screen and (min-width: 641px) {
  .search-input-icon {
    display: flex;
    width: 214px;
    height: 28px;
    background: #fafafa;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
  }
}

.img-name {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.search-option {
  background-color: transparent;
  border-width: 0px;
  font-family: 'Roboto';
  font-style: normal;
  font-size: 16px;
  line-height: 18px;
}

@media screen and (min-width: 481px) and (max-width: 767px) {
  .medium-view {
    display: none;
  }
  .options-container {
    display: none;
  }
  .header-head {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #262626;
  }
  .header-img {
    width: 55px;
    height: 28px;
  }

  .nav-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    padding: 10px;
    box-shadow: 10px 20px 30px blue;
  }

  .right-side {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .input-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid #dbdbdb;
    margin-right: 5px;
    margin-bottom: 0px;
  }
  .search-icon {
    background: #dbdbdb;
    border-radius: 0px 2px 2px 0px;
    outline: none;
  }
  .button-s {
    padding-top: 4px;
    padding-bottom: 4px;
  }
  .search-input {
    width: 214px;
    height: 28px;
    left: 781px;
    top: 18px;
    outline: none;
  }
  .link {
    text-decoration: none;
    color: #000000;
    margin-right: 10px;
  }

  .link-tag {
    color: #000000;
    font-family: 'roboto';
  }
  .logout-button {
    background-color: #4094ef;
    border-radius: 4px;
    border-width: 0px;
    padding: 4px;
    color: #ffffff;
  }
}

@media screen and (max-width: 480px) {
  .medium-view {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .header-img {
    width: 55px;
    height: 28px;
  }
  .header-head {
    font: 'Roboto';
    font-weight: 500;
    margin-left: 5px;
    size: 20px;
    line-height: 24px;
  }
  .input-container {
    display: flex;
    justify-content: center;
  }

  .nav-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    min-width: 377px;
  }
  .right-side {
    display: none;
  }
  .med-button {
    outline: none;
    background-color: transparent;
    border-width: 0px;
  }

  .link-tag {
    color: #000000;
    font-family: 'roboto';
    margin-left: 10px;
  }
  .logout-button {
    background-color: #4094ef;
    border-radius: 4px;
    border-width: 0px;
    padding: 4px;
    color: #ffffff;
  }
  .link {
    text-decoration: none;
    color: #000000;
    margin-right: 10px;
  }
  .options-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
}

.close-button {
  background-color: transparent;
  border-width: 0px;
}

@media screen and (min-width: 768px) {
  .medium-view {
    display: none;
  }
  .header-head {
    font: 'Roboto';
    font-weight: 500;
    margin-left: 5px;
    size: 20px;
    line-height: 24px;
  }
  .nav-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    padding: 10px;
  }

  .header-img {
    width: 59px;
  }
  .right-side {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .input-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid #dbdbdb;
    margin-right: 5px;
    margin-bottom: 0px;
  }
  .search-icon {
    background: #dbdbdb;
    border-radius: 0px 2px 2px 0px;
    outline: none;
  }
  .button-s {
    padding-top: 4px;
    padding-bottom: 4px;
  }
  .search-input {
    width: 214px;
    height: 28px;
    left: 781px;
    top: 18px;
    outline: none;
  }
  .link {
    text-decoration: none;
    color: #000000;
    margin-right: 10px;
  }
  .header-links {
    list-style-type: none;
    display: flex;
    flex-direction: row;
  }
  .link-tag {
    color: #000000;
    font-family: 'roboto';
  }
  .logout-button {
    background-color: #4094ef;
    border-radius: 4px;
    border-width: 0px;
    padding: 4px;
    color: #ffffff;
  }
}

@media screen and (min-width: 1024px) {
  .img-name {
    margin-left: 50px;
  }
  .right-side {
    margin-right: 50px;
  }
  .medium-view {
    display: none;
  }
}
