.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.slick-container {
  width: 55%;
  margin-top: 10px;
}

.logo-img {
  height: 70px;
  width: 70px;
  border-radius: 35px;
  margin: auto;
}

.slick-prev:before,
.slick-next:before {
  color: black;
}
.username {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  color: #262626;
}
.slick-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 640px) {
  .main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .slick-container {
    width: 80%;
    margin-top: 0px;
    margin: auto;
  }

  .logo-img {
    height: 50px;
    width: 50px;
    border-radius: 35px;
    margin: auto;
  }
  .slick-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
