.feed-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fafafa;
}

.Profile-card {
  display: flex;
  flex-direction: column;
  width: 80%;
  background-color: #fafafa;
}
.posts-container-user {
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style-type: none;
}
.image-user-details {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 80%;
  padding: 20px;
  margin: auto;
}
.Profile-pic {
  width: 180px;
  height: 180px;

  border-radius: 90px;
}
.user-detail-container {
  margin-left: 60px;
}
.profile-head {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 32px;
  line-height: 32px;
  color: #262626;
  list-style-type: none;
  padding: 20px;
}
.count {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.count-follower {
  font-family: Roboto;
  font-style: normal;
  padding: 20px;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */
  margin-right: 20px;
  display: flex;
  align-items: center;

  color: #262626;
}
.highlight {
  font-weight: 500;
  margin-right: 3px;
}
.bio-name {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 5px;
  margin-top: 0px;
  color: #262626;
  padding-left: 20px;
  list-style-type: none;
}
.bio {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  padding-left: 20px;
  font-size: 16px;
  line-height: 26px;
  list-style-type: none;
  color: #262626;
}

.user-stories {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 30px;
  margin-left: 140px;
  width: 80%;
  padding: 20px;
}
.line {
  border: 0.5px solid #c6c6c8;
  width: -webkit-fill-available;
  margin-top: 30px;
  height: 2px;
}
.head-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 10px;
  margin-left: 120px;
}
.post-head {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  color: #262626;
  margin-left: 10px;
}

.story-container {
  border: 1px solid #dbdbdb;
  box-sizing: border-box;
  border-radius: 45px;
  height: 86px;
  width: 86px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}

.story-image {
  height: 78px;
  width: 78px;
  border-radius: 45px;
}

.user-posts-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-type: none;
  justify-content: center;
  align-items: center;
  width: 1240px;
}
.post-image-container {
  height: 330px;
  width: 330px;
  margin: 10px;
}
.post-image {
  height: 330px;
  width: 330px;
}
.no-post-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 60vh;
}
.no-post-image {
  width: 48px;
  height: 45px;
  border: 2px solid #262626;
  box-sizing: border-box;
  border-radius: 43px;
}
.no-post-head {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 32px;
  line-height: 48px;
  color: #262626;
}
@media screen and (max-width: 640px) {
  .Profile-card {
    height: 100%;
    max-width: 320px;
    margin-right: 20px;
  }
  .image-user-details {
    display: flex;
    flex-direction: column;
  }
  .Profile-pic {
    height: 96px;
    width: 96px;
    border-radius: 90px;
  }
  .count {
    max-width: 320px;
  }
  .profile-head {
    height: 24px;
    width: 320px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: #262626;
  }
  .bio {
    width: 312px;
    height: 72px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    padding-left: 0px;
    line-height: 24px;
    color: #262626;
  }
  .bio-name {
    height: 24px;
    width: 113px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #262626;
    padding-left: 0px;
  }
  .count-follower {
    font-family: Roboto;
    font-style: normal;
    padding: 5px;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    margin-right: 0px;
    display: flex;
    align-items: center;
    color: #262626;
  }
  .Profile-card {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 312px;
    background-color: #fafafa;
    margin-right: 50px;
  }
  .user-stories {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 0px;
    margin-left: 0px;
    width: 100%;
    padding: 5px;

    margin-bottom: 0px;
  }

  .story-container {
    border: 1px solid #dbdbdb;
    box-sizing: border-box;
    border-radius: 45px;
    height: 86px;
    width: 86px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 0px;
  }
  .post-head {
    width: 36px;
    height: 24px;
    margin-left: 10px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    /* identical to box height, or 171% */

    display: flex;
    align-items: center;

    color: #262626;
  }
  .head-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
    margin-left: 10px;
  }
  .user-posts-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: center;
    align-items: center;
    max-width: 360px;
    margin-right: 30px;
  }
  .post-image-container {
    height: 118px;
    width: 118px;
    margin: 15px;
    margin-right: auto;
  }
  .post-image {
    height: 118px;
    width: 118px;
    margin: 10px;
  }
  .posts-view {
    margin-right: auto;

    max-width: 360px;
  }
}
